<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本地设备监控表单</title>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/baseshow.css" />
</head>
<body>
<!--  菜单   -->
<div id="main">

    <!-- 激活的菜单样式为  active 类 -->
    <!-- 为了阻止链接在点击时跳转，我们使用了 "prevent" 修饰符 (preventDefault 的简称)。 -->

    <nav v-bind:class="active" v-on:click.prevent>

        <!-- 当菜单上的链接被点击时，我们调用了 makeActive 方法, 该方法在 Vue 实例中创建。 -->
        <a href="#" class="home" v-on:click="makeActive('home')">基本参数</a>
        <a href="#" class="projects" v-on:click="toProjects('projects')">通用模组参数</a>
        <a href="#" class="services" v-on:click="toServices('services')">通用接收卡参数</a>
        <a href="#" class="contact" v-on:click="otherActive('contact')">用户列表</a>
    </nav>
    <a style="font-size:26px;" href="/logout">登出</a>
    <!-- 以下 "active" 变量会根据当前选中的值来自动变换 -->

    <p>您选择了 <b v-if = "active ==='home'">基本参数菜单</b>
                <b v-else-if = "active ==='projects'">通用模组参数</b>
                <b v-else-if = "active ==='services'">通用接收卡参数</b>
                <b v-else >暂无菜单</b></p>




<!-- v-cloak 隐藏未编译的变量，直到 Vue 实例准备就绪。 -->
<form v-if="homeshow" v-cloak>
    <ul>
        <li style="height: 6px;" class="{ 'active':true }">
            目标设备类型: <span>{{services.destination.device}}</span>
        </li>
        <li style="height: 6px;" class="{ 'active':true }">
            目标设备ID: <span>{{services.destination.id}}</span>
        </li>
        <li style="height: 6px;" class="{ 'active':true }">
            通讯接口类型: <span>{{services.destination.interfaces}}</span>
        </li>
        <li style="height: 6px;" class="{ 'active':true }">
            源设备类型: <span>{{services.source.device}}</span>
        </li>
        <li style="height: 6px;" class="{ 'active':true }">
            整屏关联板卡的ID: <span>{{services.source.ledScreen.index}}</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            发送卡IP:<span> {{com.ledParas.android_Ip}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            MAC地址:<span> {{com.ledParas.android_Mac}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            命令参数:<span> {{com.ledParas.cmd}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            对比度:<span> {{com.ledParas.contrast}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            电流:<span> {{com.ledParas.current}}&nbsp;&nbsp;A</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            当前工作时间:<span> {{com.ledParas.current_Worktime}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            客户名称:<span> {{com.ledParas.custom}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            环境亮度:<span> {{com.ledParas.envi_Bright}}&nbsp;&nbsp;LX</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            风扇控制:<span v-if="com.ledParas.fan_Ctrl === '0'">关</span> <span v-else>开</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            色相:<span> {{com.ledParas.hue}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            湿度:<span> {{com.ledParas.humidity}}&nbsp;&nbsp;%</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            显示屏分辨率:<span> {{com.ledParas.led_Rslt}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            显示屏点间距:<span> {{com.ledParas.led_Space}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            屏体类型: <span v-if="com.ledParas.led_Type === '1'">租赁</span> <span v-else-if="com.ledParas.led_Type === '2'">固装</span>
            <span v-else>{{com.ledParas.led_Type}}</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            订单号:<span> {{com.ledParas.orderForm}} </span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            实时功耗:<span> {{com.ledParas.re_PowerDis}}&nbsp;&nbsp;W</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            饱和度:<span> {{com.ledParas.saturabilty}} </span>
        </li>
<!--        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">-->
<!--            发送卡顺序列表 以发送卡为单位:<span> {{com.ledParas.senderOrderList}} </span>-->
<!--        </li>-->
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            发送卡数量:<span> {{com.ledParas.sender_Cnt}}</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            温度:<span> {{com.ledParas.temp}}&nbsp;&nbsp;℃</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            累计工作时间:<span> {{com.ledParas.total_WorkTime}}</span>
        </li>
        <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
            电压:<span> {{com.ledParas.voltage}}&nbsp;&nbsp;V</span>
        </li>
<!--        <li v-for="(value, key) in services" style="height: 6px;" class="{ 'active':true }">-->
<!--            {{key}} <span>{{value}}</span>-->
<!--        </li>-->
    </ul>
</form>
    <form v-if="projectsShow">
        <ul>
            <li style="height: 6px;" class="{ 'active':true }">
                通用模组参数:<span>↓</span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-数据组数:<span> {{com.ledParas.common_Modparas.dataGroup}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-走线方式:<span> {{com.ledParas.common_Modparas.dataOrder}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-驱动IC:<span> {{com.ledParas.common_Modparas.icsyle}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-模组分辨率:<span> {{com.ledParas.common_Modparas.mod_Rslt}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-模组尺寸:<span> {{com.ledParas.common_Modparas.mod_Size}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-模组点间距:<span> {{com.ledParas.common_Modparas.mod_Space}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-扫描方式:<span> {{com.ledParas.common_Modparas.scan_Num}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left:37px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数:<span>↓</span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-发光角度:<span><=&nbsp;{{com.ledParas.common_Modparas.lamp_Para.angle}}&nbsp;&nbsp;度</span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-抗静电能力:<span><&nbsp;{{com.ledParas.common_Modparas.lamp_Para.antistatic}}&nbsp;&nbsp;V</span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-灯亮度:<span> {{com.ledParas.common_Modparas.lamp_Para.bright}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-漏电电流:<span> <&nbsp;{{com.ledParas.common_Modparas.lamp_Para.leakage_Current}}&nbsp;&nbsp;uA </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-灯规格型号:<span> {{com.ledParas.common_Modparas.lamp_Para.style}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 74px;" class="{ 'active':true }">
                &nbsp;&nbsp;通用模组参数-灯参数-灯波长:<span> {{com.ledParas.common_Modparas.lamp_Para.wavelen}} </span>
            </li>
        </ul>
    </form>
    <form v-if="servicesShow">
        <ul>
            <li v-for="com in comlist" style="height: 6px;" class="{ 'active':true }">
                通用接收卡参数:<span> ↓ </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-箱体名:<span> {{com.ledParas.common_Recparas.box_Name}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-箱体类型:<span> {{com.ledParas.common_Recparas.box_Type}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-命令:<span> {{com.ledParas.common_Recparas.cmd}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-风扇控制:<span v-if=" com.ledParas.common_Recparas.fan_Ctrl === '1'"> 开 </span>
                <span v-if=" com.ledParas.common_Recparas.fan_Ctrl === '0'">关</span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-模组排列连接方式:<span> {{com.ledParas.common_Recparas.mod_Order}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-模组个数:<span> {{com.ledParas.common_Recparas.module_Cnt}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-接收卡数量:<span> {{com.ledParas.common_Recparas.rec_Cnt}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-接收卡类型:<span> {{com.ledParas.common_Recparas.rec_Type}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-接收卡升级程序:<span> {{com.ledParas.common_Recparas.rec_Upg_Pro}} </span>
            </li>
            <li v-for="com in comlist" style="height: 6px;margin-left: 37px;" class="{ 'active':true }">
                通用接收卡参数-工作状态:
                <span v-if=" com.ledParas.common_Recparas.workState === '1'"> 正常显示 </span>
                <span v-if=" com.ledParas.common_Recparas.workState === '2'"> 测试图形 </span>
                <span v-if=" com.ledParas.common_Recparas.workState === '3'"> Maping </span>
                <span v-if=" com.ledParas.common_Recparas.workState === '4'"> 老化 </span>
                <span v-if=" com.ledParas.common_Recparas.workState === '5'"> 黑屏 </span>
            </li>
        </ul>
    </form>

    <form v-if="userShow">
        <table style="width:100%;padding: 20px 10px;box-shadow: 0 1px 1px rgba(0,0,0,0.1);cursor: pointer; ">
            <thead style="background-color: #438EB9;margin-bottom: 8px;color:white;">
              <tr style="height:50px;">
                  <td>用户id: </td>
                  <td>用户账号: </td>
                  <td>用户角色: </td>
                  <td> 创建时间: </td>
              </tr>
            </thead>
            <tbody>
            <tr style="height:50px;" v-for="user in userlist">
                <td style="border: 1px black">{{user.id}}</td>
                <td style="border: 1px black">{{user.username}}</td>
                <td style="border: 1px black">{{user.role}}</td>
                <td style="border: 1px black">{{user.creattime}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script>
    var demo = new Vue({
        el: '#main',
        data () {
            // 定义模型属性 the model properties. The view will loop
            // 视图将循环输出数组的数据
            return {
                services:null,
                comlist:null,
                active: 'home',
                homeshow:true,
                projectsShow:false,
                servicesShow:false,
                userShow:false,
                userlist:[{
                    id: '1',
                    username: 'laowang',
                    role:'admin',
                    creattime:'2020.3.17'
                    },{
                    id: '2',
                    username: 'laoli',
                    role:'user',
                    creattime:'2020.3.17'
                  }]
            }
        },
        methods:{
            makeActive: function(item){
                // 模型改变，视图会自动更新
                this.active = item;
                this.homeshow = true;
                this.projectsShow = false;
                this.servicesShow = false;
                this.userShow = false;
            },
            toProjects: function (item) {
                this.active = item;
                this.homeshow = false;
                this.projectsShow = true;
                this.servicesShow = false;
                this.userShow = false;
            },
            toServices: function(item){
                this.active = item;
                this.homeshow = false;
                this.projectsShow = false;
                this.servicesShow = true;
                this.userShow = false;
            },
            otherActive:function(item){
                this.active = item;
                this.homeshow = false;
                this.projectsShow = false;
                this.servicesShow = false;
                this.userShow = true;
            }
        },
        mounted () {
            axios
               .get('/getJsonMessage')
               .then((response) => {this.services = response.data
                                    this.comlist = this.services.comList
                                    console.log(this.comlist)})
               .catch(function (error) { // 请求失败处理
                   alert("请求错误");
                   console.log(error);
              });
       }
    });

</script>
</body>
</html>

