
.portRow .chooseBackUpId{
    position: absolute;
    margin-top: -63px;
    margin-left: 7px;
    display: none;
}
#boxconnect .backuppairing{
    height: 35px;
    color: #ffffff;
    width: 112px;
    margin-top: -1px;
    position: absolute;
    margin-left: 140px;
}
.portRow .abnormalPort{
    display: none;
}

.portRow .abnormalPort .port-smallNum .el-radio-button--small .el-radio-button__inner{
    font-size: 1px;
    padding: 8px 1px;
}

.portRow .abnormalPort .el-radio-button--small .el-radio-button__inner{
    padding: 8px 1px;
}

/*
*网口变换所需的样式匹配
*/
#P1{
    margin-left: 29px;
    display: block;
    margin-top: -12px;
}

#P2{
    margin-left: 67px;
    display: block;
    margin-top: -12px;
}

#P3{
    margin-left: 110px;
    display: block;
    margin-top: -12px;
}

#P4{
    margin-left: 151px;
    display: block;
    margin-top: -12px;
}

#P5{
    margin-left: 194px;
    display: block;
    margin-top: -12px;
}

#P6{
    margin-left: 236px;
    display: block;
    margin-top: -12px;
}

#P7{
    margin-left: 278px;
    display: block;
    margin-top: -12px;
}


#P8{
    margin-left: 321px;
    display: block;
    margin-top: -12px;
}

#P9{
    margin-top:-15px;
    margin-left: 7px;
    display: block;
}

#P10{
    margin-top:-15px;
    margin-left: 48px;
    display: block;

}

#P11{
    margin-top:-15px;
    margin-left: 91px;
    display: block;

}

#P12{
    margin-top:-15px;
    margin-left: 131px;
    display: block;

}

#P13{
    margin-top:-15px;
    margin-left: 174px;
    display: block;

}

#P14{
    margin-top:-15px;
    margin-left: 217px;
    display: block;

}

#P15{
    margin-top:-15px;
    margin-left: 260px;
    display: block;

}

#P16{
    margin-top:-15px;
    margin-left: 303px;
    display: block;

}



/**
新增ICON
*/
/*//使用图片来替换*/
/*//before属性中的content文本是用来占位的,必须有*/
/*//可以设置字体大小来确定大小*/
/*//使用visibility: hidden;来隐藏文字*/
/*
.selectSender .el-input--small .el-input__inner{
    width: 166px;
    height: 27px;
}

.pingti-option .el-input-number__decrease, .el-input-number__increase {
    position: absolute;
    z-index: 1;
    top: 2px;
    width: 34px;
    height: 24px;
    text-align: center;
    background: #F5F7FA;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
    margin-left: -3px;
    margin-right: 72px;
}*/

.usingPort{
    color: #67C23A;
}

.el-icon-my-firstbtn{
    background: url(../images/first.png) center no-repeat;
    background-size: cover;
                   }
.el-icon-my-firstbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-secondbtn{
    background: url(../images/second.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-secondbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-thirdbtn{
    background: url(../images/third.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-thirdbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-fouthbtn{
    background: url(../images/fouth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-fouthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-fifthbtn{
    background: url(../images/fifth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-fifthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-sixthbtn{
    background: url(../images/sixth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-sixthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-sventhbtn{
    background: url(../images/seventh.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-sventhbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-eigthbtn{
    background: url(../images/eigth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-eigthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-ninthbtn{
    background: url(../images/ninth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-ninthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-tenthbtn{
    background: url(../images/tenth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-tenthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-elventhbtn{
    background: url(../images/elventh.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-elventhbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-twelfthbtn{
    background: url(../images/twelfth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-twelfthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-tirteenthbtn{
    background: url(../images/tirteenth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-tirteenthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-fourteenthbtn{
    background: url(../images/fourteenth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-fourteenthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-fifteenthbtn{
    background: url(../images/fifteenth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-fifteenthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

.el-icon-my-sixteenthbtn{
    background: url(../images/sixteenth.png) center no-repeat;
    background-size: cover;
}
.el-icon-my-sixteenthbtn:before{
    content: "替";
    font-size: 39px;
    visibility: hidden;
}

/*
*箱体canvas样式
*/

.box-connetor-border{
    width: 325px;
    height: 328px;
    margin-left: -16px;
}



.boxtype-border{
    width: 325px;
    margin-left: -14px;
}

#boxconnect .boxType .el-select .el-input__suffix{
    right: -215px;
    top: 0px;
}

.pianyiliang .el-input-number.is-controls-right .el-input-number__increase{
    top: 0px;
    bottom: 0px;
}

.pianyiliang .el-input-number.is-controls-right .el-input-number__decrease{
    right: -137px;
    bottom: -2px;
    z-index: 2;
}

.pianyiliang .el-input-number.is-controls-right .el-input-number__increase .el-icon-arrow-up:before{
    content: "\e6e1";
}

.pianyiliang-border{
    margin-top: -113px;
    margin-left: -14px;
    width: 325px;
    height: 79px;
}

.fengexian-boxconnect{
    margin-left: 348px;
    height: 807px;
    border-left: #ABCDEF 2px solid;
    width: 2px;
    margin-top: -899px;
}

.box-Connect-box{
    background-color: #3e3334;
    position: absolute;
    width: 774px;
    height: 811px;
    float: right;
    margin-top: -807px;
    margin-left: 354px;
    overflow: scroll;
}

.box-connect-tools{
    height: 136px;
    margin-top: 8px;
    width: 400px;
    margin-left: -40px;
}

.box-connect-tools .el-button{
    padding: 21px 21.17px;
}

/*
       屏体设置样式
*/

#boxconnect{
    width:91%;
    height: 101%;
    margin-top: -11%;
    margin-left: 6%;
    color: #ffffff;
}

#boxconnect .el-tabs__item{
    line-height: 20px;
    padding: 10px 20px;
}

#boxconnect .addtab{
    margin-bottom: 20px;
}

#boxconnect .addtab .el-button--mini, .el-button--small{
    font-size: 14px;
    border-radius: 30px;
}

#boxconnect .addtab .el-button{
    background: #33ff99;
    border: 1px solid #00BB25;
    color: #F0FFF0;
}

#boxconnect .selectSender{
    height: 33px;
    margin-left: 305px;
    margin-top: -56px;
}

#boxconnect .sendMessageToMachine{
    margin-left: 593px;
    height: 39px;
    width: 130px;
    margin-top: -30px;
}

#boxconnect .selectSender .el-select {
    width: 64px;
}
#boxconnect .selectSender .el-select .el-input__suffix{
    right: -206px;
    top: 1px;
}
#boxconnect .selectSender .el-select .el-input .el-select__caret{
    font-size: 14px;
    margin-left: 66px;
}

#boxconnect .pianyiliang{
    margin-left: 28px;
    margin-top: -1px;
    height: 161px;
    width: 248px;
}

#boxconnect .pianyiliang .XXX{
    width: 70px;
    margin-top: 3px;
}

#boxconnect .pianyiliang .YYY{
    float: right;
    margin-right: 37px;
    margin-top: -34px;
    width: 70px;
}

#boxconnect .pianyiliang .context{
    margin-top: 17px;
    margin-left: 69px;
    font-size: 32px;
}

#boxconnect .pianyiliang .el-input-number--mini{
    margin-top: 8px;
    width: 26px;
    height: 26px;
}

#boxconnect .boxType>label{
    font-size: 20px;
}

#boxconnect .boxType{
    margin-left: 32px;
    margin-top: -10px;
    width: 190px;
    height: 50px;
}

#boxconnect .boxType .el-input{
    width: 68px;
    margin-top: 13px;
    margin-left: 21px;
}

#boxconnect .box-width-height{
    margin-left: 20px;
    width: 229px;
    height: 62px;
    margin-top: 19px;
}

#boxconnect .box-width-height .box_width{
    width: 90px;
    font-family: -webkit-body;
    font-weight: 500;
}

#boxconnect .box-width-height .el-input--mini {
    width: 24px;
}

#boxconnect .box-width-height .box_height{
    font-family: -webkit-body;
    font-weight: 500;
    margin-right: 14px;
    width: 90px;
    float: right;
    margin-top: -28px;
}

#boxconnect .box-connetor{
    margin-top: 10px;
}

#boxconnect .box-connetor .secondhang{
    margin-top: 10px;
}

#boxconnect .box-connetor .thirdhang{
    margin-left: 13px;
    margin-top: 5px;
}

#boxconnect .box-connetor .fourthhang{
    margin-left: 14px;
    margin-top: 10px;
}

#boxconnect .box-connetor .fifthhang{
    margin-top: 10px;
}

#boxconnect .box-connetor .el-row{
    margin-top: 10px;
    margin-left: 12px;
}

/*
* 标签页未点击时样式
*/
.el-tabs__item{
    color: #ffffff;
}


.portRow{
    margin-left: -60px;
    margin-top: -111px;
    width: 378px;
    height: 220px;
}

.portRow .portRow-Label{
    margin-left: 10px;
}

.portRow .el-radio-group{
    margin-top: 10px;
}

.portRow .port-smallNum .el-radio-button--small .el-radio-button__inner{
    padding: 8px 10.6px;
}

.portRow  .el-radio-button--small .el-radio-button__inner{
    padding: 8px 13.5px;
}


.pingti-option{
    margin-left: 23px;
    width: 252px;
    height: 67px;
    margin-top: 5px;
}

.pingti-option .el-input-number--mini .el-input-number__decrease,.pingti-option .el-input-number--mini .el-input-number__increase{
    margin-top: -8px;
    height: 28px;
    font-size: 17px;
}

.pingti-option .el-input-number--mini .el-input-number__decrease [class*=el-icon],.pingti-option .el-input-number--mini .el-input-number__increase [class*=el-icon]{
    margin-top: 6px;
}

.pingti-option .line-counter{
    float: right;
    width: 115px;
    height: 58px;
    margin-top: -24px;
}

.pingti-option .row-label{
    margin-left: 2px;
}

.pingti-option .el-input-number--mini {
    width: 32px;
    margin-top: 6px;
}

.pingti-option>label{
    color: #fdf6ec;
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}


#tuopu{
    width: 1450px;
    height:800px;
    margin-left: -253px;
    margin-top: 48px;
}

.container-flex {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    outline: none;
}


.box-center {
    width: 72%;
    height: 100%;
    /*    background: green;*/
}


.center-bottom {
    width: 100%;
    height: 75.9%;
    position: relative;
}

.center-bottom>.city-data {
    width: 805px;
    height: 100%;
    margin: auto;
    position: absolute;
}




.four-f {
    letter-spacing: 4.5px;
}


.container {
    overflow-y:hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index:100;
    margin-left: 0px;
    margin-top: 587px;
}

.pop-up {
    width: 100%;
    height: 100%;
    background: url(../images/popUP_bg.png) top left no-repeat;
    background-size: 100% 100%;
    position: absolute;
    padding: 20px 50px;
    visibility: hidden;
    /* z-index: 3;*/
}

.modedetail{
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-top: 30px;
    width: 347px;
    height: 386px;
    background-image: url(../images/modedetail.png);
    background-size: 100% 100%;
    position: absolute;
    display:none;
    z-index: 10;
}

.modedetail #MOD_RSL{
    color: #E9E7E7;
    margin-left: 100px;
}

.modedetail #MOD_SPACE{
    color: #E9E7E7;
    margin-left: 116px;
}

.modedetail #MOD_SCAN_NUM{
    color: #E9E7E7;
    margin-left: 86px;
}

.modedetail #MOD_ID{
    color: #E9E7E7;
    margin-left: 71px;
}


.modedetail >ul{
    width: 233px;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 10px;
    line-height: 30px;
}

.modedetail >h2{
    width: 140px;
    height:40px;
    line-height:37px;
    text-align:center;
    font-size: 20px;
    color:#0e94eb;
    margin-top: 75px;
    margin-left: 45px;
    background: url(../images/moduleDetailTitle.png) top left no-repeat
}

.modedetail .fengexian{
    margin-top: 13px;
    border-bottom:rgba(255, 255, 255, 0.2) 1px solid;
}

.pop-up .title {
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    color: white;
    padding-left: 590px;
    /* background: url(../images/title_line.png) center left no-repeat;*/
    margin-top: 39px;
    position: absolute;
}

.pop-up >h3{
    width: 100%;
    height:40px;
    font-size: 26px;
    color:#0e94eb;
    margin-left:527px;
    position: absolute;
    margin-top: 116px;
}



.close-pop {
    display: inline-block;
    position: absolute;
    top: 78px;
    right: 57px;
    width: 17px;
    height: 17px;
    background: url(../images/close.png) center left no-repeat;
    background-size: 17px 17px;
    cursor: pointer;
    z-index: 99;
}


.set-div {
    width: 1340px;
    height: 88%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    font-size: 18px;
}
.module_Message{
    float: right;
    margin-left: 1067px;
    position: absolute;
    margin-top: -446px;
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.rec_Message{
    float: right;
    margin-left: 1062px;
    position: absolute;
    margin-top: -423px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.module_Message>label {
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}


.rec_Message>label {
    margin-bottom: 30px;
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}
.sensor_Message>label {
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}

.didimen1 {
    font-size: small;
    border:1px solid #1dacfe;
    width: 200px;
    height: 115px;
    margin-top: 160px;
    margin-left:-165px;
}

.sensor_Message_1{
    margin-left:0px;
    margin-top:-4px;
}


.driverIc{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    position: absolute;
    margin-top: 254px;
    margin-left: 8px;
}


.driverIc>label {
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}


.didimen2 {
    font-size: small;
    border:1px solid #1dacfe;
    width: 204px;
    height: 99.85px;
    margin-top: 135px;
    margin-left: -168px;
}

.didimen3{
    font-size: small;
    border: 1px solid #1dacfe;
    width: 190px;
    height: 27px;
    margin-top: 75px;
    margin-left: -169px;
}

.didimen4{
    font-size: small;
    border: 1px solid #1dacfe;
    width: 170px;
    height: 167px;
    margin-top: 176px;
    margin-left: -160px;
}

.didimen5{
    font-size: small;
    border:1px solid #1dacfe;
    width: 150px;
    margin-left:-160px;
    height: 75px;
    margin-top: 130px;
}

.four-f {
    letter-spacing: 4.5px;
}

.set-box {
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.Power_Message{
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 415px;
    position: absolute;
}

.Power_Message>label {
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}

.sensor_Message {
    margin-left: 6px;
    margin-top: 112px;
    position: absolute;
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.sensor_Message>.tempoge{
    margin-left:100px;
    margin-top:-100px;
}


.set-box>label {
    background-image: url(../images/labeltitle.png);
    width:170px;
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}


.pages-div>input {
    background: transparent;
    margin: 0 20px;
}


.module-model {
    margin-left: 251px;
    width: 60%;
    height: 69%;
    margin-top: 163px;
    background-image: url(../images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.module1{
    border: black 2px;
    border-style:none solid solid none;
    float: left;
    width: 197.5px;
    height: 190px;
    margin-top: 10px;
    margin-left: 7px;
}

.module2{
    border: black 2px;
    border-style:none solid solid none;
    float: left;
    width: 197.5px;
    height: 190px;
    margin-top: 10px;
}

.module3{
    border: black 2px;
    border-style:none solid solid none;
    float: left;
    width: 197.5px;
    height: 190px;
    margin-top: 10px;
}

.module4{
    border: black 2px;
    border-style:none none solid none;
    float: left;
    width: 195.2px;
    height: 190px;
    margin-top: 10px;
}

.module5{
    border: black 2px;
    border-style:none solid none none;
    float: left;
    width: 197.5px;
    height: 198px;
    margin-left: 7px;
}

.module6{
    border: black 2px;
    border-style:none solid none none;
    float: left;
    width: 197.5px;
    height: 198px;
}

.module7{
    border: black 2px;
    border-style:none solid none none;
    float: left;
    width: 197.5px;
    height: 198px;
}

.module8{
    float: left;
    width: 194.5px;
    height: 198px;
}


/*适应1920*1080*/
@media screen and (min-width: 1600px) and (max-width: 1920px){

    .ledsetting{
        height: 730px;
    }

    .senderstyle{
        margin-top: 202px;
        height: 28px;
    }

    .tab{
        margin-top: 35px;
    }

    .index_tabs{
        margin-top: 75px;
    }

    .index_tabs .el-tabs__item{
        line-height: 22px;
    }

    .driverIc{
        margin-left: -77px;
    }

    #P1{
        margin-left: 6px;
        display: block;
        margin-top: -36px;
    }

    #P2{
        margin-left: 47px;
        display: block;
        margin-top: -36px;
    }

    #P3{
        margin-left: 89px;
        width: 37px;
        display: block;
        margin-top: -36px;
    }

    #P4{
        width: 42px;
        margin-left: 132px;
        display: block;
        margin-top: -36px;
    }

    #P5{
        margin-left: 175px;
        display: block;
        margin-top: -36px;
    }

    #P6{
        margin-left: 216px;
        width: 40px;
        display: block;
        margin-top: -36px;
    }

    #P7{
        margin-left: 260px;
        width: 42px;
        display: block;
        margin-top: -36px;
    }

    #P8{
        margin-left: 302px;
        width: 41px;
        display: block;
        margin-top: -36px;
    }

    #P9{
        margin-top:-15px;
        margin-left: 7px;
        display: block;
    }

    #P10{
        margin-top:-15px;
        margin-left: 48px;
        display: block;

    }

    #P11{
        margin-top:-15px;
        margin-left: 91px;
        display: block;

    }

    #P12{
        margin-top:-15px;
        margin-left: 131px;
        display: block;

    }

    #P13{
        margin-top:-15px;
        margin-left: 174px;
        display: block;

    }

    #P14{
        margin-top:-15px;
        margin-left: 217px;
        display: block;

    }

    #P15{
        margin-top:-15px;
        margin-left: 260px;
        display: block;

    }

    #P16{
        margin-top:-15px;
        margin-left: 303px;
        display: block;

    }

    .portRow .chooseBackUpId{
        margin-top: -37px;
        margin-left: 0px;
        width: 36px;
        height: 51px;
    }

    .portRow .chooseBackUpId .el-dropdown{
        height: 51px;
        width: 36px;
    }


    .pingti-option .el-input-number--mini .el-input-number__decrease [class*=el-icon], .pingti-option .el-input-number--mini .el-input-number__increase [class*=el-icon]{
        margin-top: 0px;
    }

    #boxconnect .el-tabs__item{
        line-height: 40px;
    }

    .portRow .abnormalPort .port-smallNum .el-radio-button--small .el-radio-button__inner{
        padding: 12px 1.3px;
    }

    .portRow .abnormalPort .el-radio-button--small .el-radio-button__inner {
        padding: 20px 1.3px;
    }

    #boxconnect .box-width-height{
        width: 232px;
    }

    #boxconnect .boxType .el-input{
        width: 224px;
        margin-top: 1px;
        margin-left: 23px;
    }

    .pingti-option .row-label{
        font-family: -webkit-body;
        font-weight: 800;
    }

    .portRow .portRow-Label{
        font-family: -webkit-body;
        font-weight: 800;
        margin-left: 10px;
    }

    #boxconnect .backuppairing{
        position: absolute;
        margin-left: 168px;
        margin-top: 0px;
    }

    #boxconnect .selectSender{
        margin-left: 292px;
    }

    #boxconnect .sendMessageToMachine{
        margin-left: 601px;
        height: 39px;
        width: 130px;
        margin-top: -37px;
    }

    #boxconnect .selectSender .el-input--small .el-input__inner{
        width: 210px;
        margin-top: -4px;
        height: 45px;
        line-height: 35px;
    }

    /*
    *屏体连接
    */

    .box-connect-tools .el-button{
        padding: 20px 22px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 800;
    }

    #boxconnect .boxtype-border{
        border: #ffffff solid 2px;
        width: 330px;
        height: 122px;
        margin-left: 5px;
        margin-top: -8px;
    }


    #boxconnect .pianyiliang-border{
        margin-top: -103px;
        border: #ffffff solid 2px;
        width: 330px;
        height: 79px;
        margin-left: 5px;
    }
    #boxconnect .boxtype-border >legend{
        font-size: 18px;
    }

    #boxconnect .pianyiliang-border >legend{
        font-size: 18px;
    }

    #boxconnect .pianyiliang .XXX{
        margin-left: 10px;
    }

    .portRow .port-smallNum .el-radio-button--small .el-radio-button__inner {
        padding: 12px 10.9px;
    }

    .portRow .el-radio-button--small .el-radio-button__inner {
        padding: 12px 13.8px;
    }

    #boxconnect .box-connetor{
        margin-left: 43px;
        margin-top: -20px;
    }

    #boxconnect .box-connetor .secondhang .el-button.is-circle{
        padding: 16px;
    }

    #boxconnect .box-connetor .el-row .el-button.is-circle{
        padding: 12px;
    }

    #boxconnect .box-connetor .el-row{
        margin-top: 14px;
        margin-left: -35px;
        z-index: 10;
        height: 72px;
    }

    #boxconnect .box-connetor .fourthhang {
        margin-left: -36px;
        z-index: 15;
    }

    #boxconnect .box-connetor .fifthhang {
        margin-left: -36px;
        z-index: 15;
    }

    #boxconnect .box-connetor .thirdhang {
        margin-top: -30px;
        margin-left: -36px;
        z-index: 15;
    }

    #boxconnect .box-connetor .thirdhang .morePortConnect{
        padding-top: 5px;
        margin-left: 40px;
    }

    #boxconnect .box-connetor .secondhang{
        height: 100px;
        margin-top: -14px;
        z-index: 10;
    }

    #boxconnect .box-connetor-border{
        border: #ffffff solid 2px;
        margin-left: 5px;
        width: 330px;
        height: 320px;
        margin-top: -8px;
    }

    #boxconnect .box-connetor-border >legend{
        font-size: 18px;
    }

    .fengexian-boxconnect{
        margin-left: 353px;
        margin-top: -859px;
        height: 780px;
    }

    #boxconnect .pingti-option .el-input-number--mini .el-input-number__decrease{
        height: 27px;
        top: 0px;
        line-height: 28px;
        margin-top: 1px;
    }

    #boxconnect  .pingti-option .el-input-number--mini .el-input-number__increase{
        margin-top: -1px;
    }

    .pingti-option .line-counter{
        margin-top: -24px;
        margin-right: -11px;
    }

    .pingti-option .el-input-number  .el-input-number--mini .el-input-number__decrease,.pingti-option .el-input-number .el-input-number--mini .el-input-number__increase{
        font-size: 16px;
    }



    #boxconnect .addtab .el-input-number .el-input-number__decrease,#boxconnect .addtab .el-input-number .el-input-number__increase{
        top: 1px;
    }

    #boxconnect .pianyiliang .YYY{
        margin-right: 19px;
        margin-top: -34px;
    }

    .pianyiliang .el-input-number.is-controls-right .el-input-number__increase{
        right: -25px;
        top: 0px;
        font-size: 17px;
    }


    .pianyiliang .el-input-number.is-controls-right .el-input-number__decrease{
        right: -25px;
        bottom: -7px;
        font-size: 17px;
    }

    .pianyiliang .el-input--mini .el-input__inner{
        height: 33px;
    }

    .pianyiliang .el-input-number.is-controls-right .el-input__inner{
        padding-right: 15px;
    }

    .pingti-option .el-input-number--mini{
        width: 92px;
        margin-top: 10px;
    }


    #boxconnect .pianyiliang .el-input-number--mini{
        width: 55px;
    }

    .box-connect-tools{
        margin-left: 5px;
        margin-top: 7px;
        width: 508px;
    }

    #boxconnect .box-width-height  .el-input--mini{
        width: 36px;
    }

    #boxconnect .box-width-height{
        margin-top: -12px;
        margin-left: 42px;
    }

    #boxconnect .box-width-height .box_height{
        margin-right: -3px;
        margin-top: -28px;
    }

    #boxconnect .box-width-height .el-input__inner{
        width: 155%;
    }

    #boxconnect .boxType .el-select .el-input__suffix{
        right: 3px;
        top: 1px;
    }

    #boxconnect .boxType .el-select .el-input__suffix .el-select__caret{
        font-size: 19px;
    }

    #boxconnect .boxType .el-select{
        width: 72px;
        margin-top: -14px;
    }

    #boxconnect .boxType{
        margin-top: 12px;
        margin-left: 30px;
    }

    .pingti-option{
        margin-top: 3px;
        margin-left: 54px;
    }

    #boxconnect .pianyiliang{
        margin-top: -13px;
        margin-left: 18px;
    }

    .portRow{
        margin-top: 0px;
        margin-left:4px;
    }

    .box-Connect-box{
        width: 1334px;
        height: 779px;
        margin-top: -781px;
        margin-left: 359px;
    }

    #boxconnect .el-tabs el-tabs--card el-tabs--top{
        margin-top: 20px;
    }

    #boxconnect .el-tabs__item{
        padding: 0px 20px;
    }

    #boxconnect .selectSender .el-select .el-input__suffix{
        right: -165px;
        top: -3px;
    }

    #boxconnect .selectSender .el-select {
        width: 37px;
    }

    /*
    * 屏体设置
    */
    div#boxconnect{
        width: 89%;
        height: 100%;
        margin-top:0.2%;
        margin-left: 0%;
        color: #ffffff;
    }

    div#syncswitch{
        margin-left: 630px;
        margin-top: 97px;
    }

    .gamutadjust1 #cginput{
        margin-top: 34px;
        margin-left: 5px;
    }

    .gamutadjust #blockone{
        position: absolute;
        margin-left: 2px;
        margin-top: -26px;
        width: 337px;
    }

    .gamutadjust #blocktwo{
        position: absolute;
        margin-left: 2px;
        margin-top: 26px;
        width: 337px;
    }

    .testmodeadjust{
        width: 36.55%;
        margin-top: 317px;
        margin-left: 705px;
        padding-top: 95px;
    }

    div#snsginput{
        margin-top: -63px;
        margin-left: 15px;
    }

    .snsginputadjust{
        margin-left: 706px;
        margin-top: 42px;
        padding-top: 84px;
    }

    .wzjmadjust {
        width: 5%;
        margin-left: 974px;
        margin-top: -112px;
        padding-top: 81px;
    }

    .rgbadjust{
        width: 15%;
        height: 10.78%;
        padding-left: 57px;
        margin-left: 1083px;
        margin-top: -110px;
        padding-top: 80px;
    }

    .coloradjust{
        margin-top: 153px;
    }

    div#input{
        margin-top: 14px;
        margin-left: 9px;
    }

    .fbladjust{
        width: 17%;
        margin-left: 79px;
        margin-top: 52px;
    }

    div#syncinput{
        margin-top: 15px;
        margin-left: 8px;
    }

    div#syncswitc{
        margin-left: 572px;
        margin-top: 93px;
    }

    .syncadjust{
        margin-left: 439px;
        margin-top: 52px;
    }

    .inputsourceadjust{
        margin-left: 78px;
        margin-top: -64px;
    }

    div#ledtest{
        margin-left: 274px;
        margin-top: 177px;
    }

    div#input1 {
        margin-top: 309px;
        margin-left: 1049px;
    }

    #ledswitch {
        margin-top: 306px;
        margin-left: 1200px;
    }

    .hdradjustcontent{
        margin-left: 768px;
        margin-top: 63px;
    }

    .gamutadjust1{
        margin-left: 984px;
        margin-top: -1px;
    }

    .ctadjust{
        margin-left: 725px;
        margin-top: -190px;
    }

    .senderadjust{
        margin-left: 78px;
        margin-top: -166px;
    }

    .brightadjust{
        margin-left: 726px;
        margin-top: -512px;
    }
    #brightswitch{
        margin-left: 1341px;
        margin-top: -106px;
    }

    .gamutadjust{
        height: 60.28%;
        margin-left: 974px;
        margin-top: -348px;
    }


    .sycm ul {
        padding: 1rem 0;
    }

    .sycm li {
        margin-top: -10px;
    }

    .sycm li h2 {
        font-size: 1rem;
    }
    .sycm li span {
        font-size: 0.95rem;
    }

    .curtitle{
        font-size: 1.2rem;
    }

    .current{
        font-size: 1.5em;
    }

    .nc {
        height: 4em;
        display: block;
        margin-left: -427%;
        letter-spacing: 0.0001em;
        line-height: 7.8em;
        -webkit-touch-callout: none; /* iOS Safari */

        -webkit-user-select: none; /* Chrome/Safari/Opera */

        -khtml-user-select: none; /* Konqueror */

        -moz-user-select: none; /* Firefox */

        -ms-user-select: none; /* Internet Explorer/Edge */

        user-select: none; /* Non-prefixed version, currently not supported by any browser */
    }
    .left {
        width: 397px;
        height: 571px;
        float: left;
        margin-left: 10px;
        margin-top: 46px;
    }
    .left0 {
        width: 544px;
        height: 43%;
        border: 0.001em solid #129ce6;
    }
    .left1 {
        width: 544px;
        height: 55.5%;
        border: 0.001em solid #129ce6;
        position: relative;
        margin-top: 8px;
    }
    .center {
        width: 779px;
        height: 571px;
        border: 0.001em solid #129ce6;
        float: left;
        margin-left: 160px;
        margin-top: 46px;
    }
    .right {
        width: 404px;
        height: 571px;
        float: left;
        margin-left: 6px;
        margin-top: 46px;
    }
    .right0 {
        width: 542px;
        height: 100%;
        border: 0.001em solid #129ce6;
    }
    .right1 {
        width: 542px;
        height: 55.5%;
        border: 0.001em solid #129ce6;
        margin-top: 8px;
        position: relative;
    }
    .kzqrun {
        margin-top: 96px;
        margin-left: 63px;
        width: 100px;
        height: 100px;
        position: relative;
    }
    .azig {
        margin-top: -176px;
        margin-left: 17px;
        position: absolute;
    }
    .mainbox {
        margin-left: 271px;
        margin-top: -187px;
        width: 528px;
    }
    .boxall {
        height: 11.7rem;
        width: 16rem;
        border: 1px solid rgba(25, 186, 139, .17);
        padding: 0 .3rem .3rem .3rem;
        background: rgba(255, 255, 255, .04);
        background-size: 100% auto;
        position: relative;
        margin-bottom: .3rem;
        z-index: 10;
    }
    .timeshow {
        margin-top: -23px;
        margin-left: 228px;
        position: absolute;
    }
    .boxall1 {
        margin-left: 6px;
        height: 7rem;
        width: 31.8rem;
        border: 1px solid rgba(25, 186, 139, .17);
        padding: 0 .3rem .3rem .3rem;
        background: rgba(255, 255, 255, .04);
        background-size: 100% auto;
        position: absolute;
        margin-bottom: .3rem;
        z-index: 10;
        margin-top: 36px;
    }
    .sycm1 li h2{
        font-size: 0.9rem;
    }
    .sycm1 li span {
        font-size: 1.1rem;
    }
    .lt0 {
        font-weight: 900;
    }
    .lt1 {
        font-weight: 900;
    }
    .ct {
        font-weight: 900;
    }
    .rt0 {
        font-weight: 900;
    }
    .rt1 {
        font-weight: 900;
    }
    .fskimp {
        margin-left: 430px;
        margin-top: 181px;
        position: absolute;
    }

    .fskimp h3 {
        font-size: 0.9rem;
        margin-left: -110px;
        margin-top: 11px;
    }

    .fskimp p {
        font-size: 1rem;
        margin-top: -15px;
        line-height: 15px;
    }

    .ledsceen .cssrun {
        margin-top: -479px;
        margin-left: 250px;
        width: 253px;
        height: 133px;
        line-height: 100px;
        font-size: 2em;
        font-family: sans-serif;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
    }
    .boxall2 {
        height: 17rem;
        width: 46.8rem;
        idth: 26.3rem;
        border: 1px solid rgba(25, 186, 139, .17);
        padding: 0 .3rem .3rem .3rem;
        background-size: 100% auto;
        position: relative;
        margin-bottom: .3rem;
        z-index: 10;
    }
    .gx0 {
        width: 439px;
        height: 600px;
        position: relative;
        margin-left: 69px;
    }
    .hjws {
        width: 397px;
        height: 407px;
        position: relative;
        margin-top: -18px;
        margin-left: 68px;
    }

    .sycm2 {
        margin-top: 14px;
    }

    .sycm2 ul {
        padding: .96rem 0;
        line-height: 20px;
    }

    .sycm2 li h2 {
        font-size: 1.2rem;
    }

    .sycm2 li span {
        font-size: 0.9rem;
    }

    .container {
        overflow-x:hidden;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        z-index:100;
        margin-left: 0px;
        margin-top: 587px;
    }

    .didimen1 {
        font-size: small;
        border:1px solid #1dacfe;
        width: 200px;
        height: 107px;
        margin-top: 155px;
        margin-left:-160px;
    }

    .sensor_Message_1{
        margin-left: 10px;
    }

    .tempoge{
        margin-left: 10px;
    }

    .didimen4{
        font-size: small;
        border:1px solid #1dacfe;
        width: 170px;
        height: 170px;
        margin-top: 182px;
        margin-left:-160px;
    }


    .didimen2{
        line-height: 18px;
        width: 203px;
        height: 125.85px;
        margin-top: 171px;
        margin-left: -171px;
    }

    .rec_Message{
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: -344px;
        margin-left: 1092px;
    }


    .sensor_Message {
        margin-left: -85px;
        margin-top: 112px;
        position: absolute;
        height: 33px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .module_Message{
        float: right;
        margin-left: 1084px;
        position: absolute;
        margin-top: -570px;
        height: 33px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .module_Message>label {
        background-image: url(../images/labeltitle.png);
        width:170px;
        color: #cdddf7;
        margin-right: 10px;
        float: left;
    }

    .rec_Message>label {
        margin-bottom: 30px;
        background-image: url(../images/labeltitle.png);
        width:170px;
        color: #cdddf7;
        margin-right: 10px;
        float: left;
    }
    .sensor_Message>label {
        background-image: url(../images/labeltitle.png);
        width:170px;
        color: #cdddf7;
        margin-right: 10px;
        float: left;
    }

    .Power_Message{
        height: 33px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 473px;
        position: absolute;
        margin-left: -73px;
    }

    .Power_Message>label {
        background-image: url(../images/labeltitle.png);
        width:170px;
        color: #cdddf7;
        margin-right: 10px;
        float: left;
    }

    .sensor_Message>.tempoge{
        margin-left:110px;
        margin-top:-80px;
    }

    .sensor_Message>.tempoge >li{
        margin-left:10px;
    }

    .module-model {
        margin-left: 163px;
        width: 69%;
        height: 62%;
        margin-top: 163px;
        background-image: url(../images/backgroundImage.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .module1{
        border: black 2px;
        border-style:none solid solid none;
        float: left;
        width: 225.5px;
        height: 221px;
        margin-top: 10px;
        margin-left: 7px;
    }

    .module2{
        border: black 2px;
        border-style:none solid solid none;
        float: left;
        width: 225.5px;
        height: 221px;
        margin-top: 10px;
    }

    .module3{
        border: black 2px;
        border-style:none solid solid none;
        float: left;
        width: 225.5px;
        height: 221px;
        margin-top: 10px;
    }

    .module4{
        border: black 2px;
        border-style:none none solid none;
        float: left;
        width: 225.5px;
        height: 221px;
        margin-top: 10px;
    }

    .module5{
        border: black 2px;
        border-style:none solid none none;
        float: left;
        width: 225.5px;
        height:221px;
        margin-left: 7px;
    }

    .module6{
        border: black 2px;
        border-style:none solid none none;
        float: left;
        width: 225.5px;
        height:221px;
    }

    .module7{
        border: black 2px;
        border-style:none solid none none;
        float: left;
        width: 225.5px;
        height:221px;
    }

    .module8{
        float: left;
        width: 225.5px;
        height:221px;
    }
    .modedetail {
        background-repeat: no-repeat;
        margin-left: 459px;
        margin-top: 30px;
        width: 367px;
        height: 492px;
        background-image: url(../images/modedetail.png);
        background-size: 100% 100%;
        position: absolute;
        display: none;
        z-index: 999;
    }

    .modedetail >ul {
        margin-left: 18px;
        width: 250px;
    }

    .modedetail #MOD_RSL{
        margin-left: 80px;
    }

    .modedetail #MOD_SPACE{
        margin-left: 96px;
    }

    .modedetail #MOD_SCAN_NUM{
        margin-left: 66px;
    }

    .modedetail #MOD_ID{
        margin-left: 51px;
    }


}

/* 判断ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){

    .ledsceen .cssrun{
        margin-left: 138px;
    }

    .modedetail .fengexian{
        width: 230px;
    }

    .modedetail{
        height: 427px;
    }

    .pop-up >h3{
        margin-left:333px;
    }

    .pop-up .title {
        padding-left: 333px;
    }

    .container{
        /*visibility: visible;*/
        width: 1150px;
        height: 650px;
        margin-left: 100px;
    }
    .driverIc{
        margin-left: 10px;
    }

    .Power_Message{
        margin-left: 10px;
    }

    .pop-up {
        /*visibility: visible;*/
        width: 100%;
        height: 100%;
        /* z-index: 3;*/
    }

    .module-model {
        margin-left: 251px;
        width: 50%;
        height: 66%;
    }

    .sensor_Message_1{
        margin-left:8px;
        margin-top:-4px;
    }

    .tempoge{
        margin-left:90px;
        margin-top:-80px;
    }

    .module_Message{
        float: right;
        margin-left: 938px;
        margin-top: -355px;
        height: 33px;
    }


    .rec_Message{
        float: right;
        margin-left: 938px;
        margin-top: -405px;
    }

    .didimen4{
        height: 188px;
    }

    .module1{
        width: 163px;
        height: 160px;
        margin-top: 10px;
        margin-left: 7px;
    }

    .module2{
        width: 163px;
        height: 160px;
        margin-top: 10px;
    }

    .module3{
        width: 163px;
        height: 160px;
        margin-top: 10px;
    }

    .module4{
        width: 163px;
        height: 160px;
        margin-top: 10px;
    }

    .module5{
        width: 163px;
        height: 160px;
        margin-left: 7px;
    }

    .module6{
        width: 163px;
        height: 160px;
    }

    .module7{
        width: 163px;
        height: 160px;
    }

    .module8{
        width: 163px;
        height: 160px;
    }

    .fskimp h3 {
        color: #20a0ff;
        font-size: 1rem;
    }

    .fskimp p {
        line-height: 15px;
        font-size: 0.9rem;
    }

    div#ledswitch{
        margin-left: 551px;
    }

    div#input1{
        margin-left: 381px;
    }

    .ledph2{
        margin-left: 281px;
        width: 42%;
    }

    .ledph1{
        width: 42%;
    }

    #tuopu{
        margin-left: -223px;
    }

    .sycm li h2 {
        color: #20a0ff;
        font-size: 1em;
    }
    .sycm li span {
        font-size: 0.9em;
    }

    .sycm ul {
        padding: 0.65rem 0;
    }

    .curtitle{
        color: #20a0ff;
        font-size: 0.8em;
    }

    .current{
        font-size: 0.95em;
    }
    .sycm1 li h2{
        color: #20a0ff;
        font-size: 1em;
    }
    .sycm1 li span{
        font-size: 0.9em;
    }

    .left {
        margin-left:12px;
        margin-top: 40px;
    }
    .center{
        width: 536px;
        margin-top: 40px;
    }

    .boxall2{
        width:31.7rem;
    }

    .sycm2{
        margin-top: 33px;
    }

    .sycm2 li h2 {
        color: #20a0ff;
        font-size: 1.4rem;
    }

    .sycm2 ul{
        line-height: 30px;
    }

    .sycm2 li span {
        font-size: 1rem;
    }

    .right{
        margin-left: 958px;
        margin-top: -572px;
    }
    .index_nav ul li{
        font-size:1em;
    }
    .nc{
        margin-top: 0.3em;
        width: 8em;
    }

}
